.header.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #303030;
    height: 48px;
    margin: 10px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.wallet-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.4em;
    font-weight: 300;
}

.wallet-info img {
    width: 20px;
    height: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: right;
}

.profile-info .pp-container {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 12%;
    overflow: hidden;
}

.profile-info .name {
    font-size: 16px;
}

.profile-info .lvl {
    font-size: 14px;
    font-weight: 700;
    margin-top: -6px;
}

.lvl .lvl-num {
    font-weight: 400;
}

.profile-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}