#root {
  height: 100vh;
  width: 100vw;
}

body.dark-mode {
  background: linear-gradient(180deg, #3D3D3D 0%, #252525 100%);
}

body.light-mode {
  background: linear-gradient(180deg, #CBCBCB 0%, #BABABA 100%);
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
}